body {
    margin: 0;
    padding: 0;
    color: #201C1C;
    font-family: "Roboto", sans-serif;
    background-color: #faf5f5;
}

main{
    background-color: #faf5f5;
}

a {
    color: #201C1C;
}

.navbar {
    background-color: #f59fca;
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 270px;
}

.navbar a {
    text-decoration: none;
    font-size: 30px;
    color: #201C1C;
    font-weight: bold;
}

.footer {
    background-color: #f59fca;
    padding: 40px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    font-size: 30px;
    color: #201C1C;
    font-weight: bold;
}

.footer-socials {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a:hover{
    color: #54BCBF;
}

.intro {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-intro {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.intro img {
    width: 100%;
}