body {
    margin: 0;
    padding: 0;
    color: #201C1C;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

main {
    padding-top: 25px;
    padding-bottom: 50px;
}

.compartiment {
    padding-bottom: 25px;
}

#nothear {
    color: #201C1C;
}

#hear {
    color: #F59FCA;
    text-decoration: underline;
}

header {
    background-color: #54BCBF;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    gap: 270px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    font-size: 30px;
    color: #201C1C;
    font-weight: bold;
    padding-right: 40px;
}

.navbar #logo {
    padding-left: 20px;
}

.footer {
    background-color: #54BCBF;
    padding: 40px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    font-size: 30px;
    color: #201C1C;
    font-weight: bold;
}

.footer-socials {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#nothear:hover{
    color: #F59FCA;
}

.compartiment .contenu{
    display: flex;
    flex-direction: row;
    background-color: #FAF5F5;
}

#petit{
    font-weight: bold;
}

.bouton {
    background-color: #F59FCA;
    color: #201C1C;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
  }

  .bouton:hover {
    background-color: #54BCBF;
  }

  .gauche {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
  }

  .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #201C1C;
  }